extends layout

block content
                           
    div.container.login(style="margin-top:50px;")
     h4 Almost there, please change your password..
     div(id="ctl00_Div2")
      if message
         div(class="alert alert-danger")!= message
      form(action="/changepassword" method="post")
        div(class="textentry")
         input(name="pass" type="password" id="pass" class="pass form-control" placeholder="Password")
        div(class="textentry")
         input(name="repass" type="password" id="repass" class="repass form-control" placeholder="Re-enter Password")
        div(class="buttons")
            button.btn.btn-success.btn-lg.btn-block(type='submit' class="changepassword") Change
 
     div(style="padding:5px;")
        img(src="images/map.png", alt="Netlight", style="border-width:0px; width: 50px")
        
        
