extends layout

block content
    if(matches!=null && matches.length > 0)
      #matches
    - now = (new Date(now))
    div.col-xs-12(class="uppercase" style="")
    div
      div
        - now = (new Date(now))
          div(id="ctl00_Div2" style=""+background class="container patchycontainer").match
             div.row
               div(class="col-xs-12 patchyrow" style="font-size:80px; font-style:italic")!= test
          